<%- include("../includes/head.ejs") %> <%- include("../includes/navigation.ejs")
%>
<div class="flex-row-centered">
  <div class="card login-form-card">
    <h1 class="text-center">New Password Form</h1>
    <% if(errorMessage){ %>
    <p class="error"><%= errorMessage %></p>
    <% } %>
    <form class="product-form" method="POST" action="/auth/save-new-password">
      <div class="form-control">
        <input
          class="w-100"
          type="password"
          name="new_password"
          placeholder="enter new password"
          required
        />
      </div>
      <input type="hidden" name="userId" value="<%= userId %>" />
      <input
        type="hidden"
        name="reset_password_token"
        value="<%= resetPasswordToken %>"
      />
      <%- include("../includes/csrf-token-input.ejs") %>
      <div class="form-control">
        <button type="submit" class="btn w-100">Reset</button>
      </div>
    </form>
  </div>
</div>
<%- include("../includes/logout-btn.ejs") %> <%- include("../includes/end.ejs")
%>
