<%- include("../includes/head.ejs") %> <%- include("../includes/navigation.ejs")
%>
<div class="flex-row-centered">
  <div class="card login-form-card">
    <h1 class="text-center">Signup Form</h1>
    <% if(error){ %>
    <p class="error"><%= error %></p>
    <% }else if(success){ %>
    <p class="success"><%= success %></p>
    <% } %> <% if(validation_errors.length){ %> <%
    validation_errors.forEach(function(validation_error){ %>
    <p class="error"><%= validation_error?.msg %></p>
    <% }) %><% } %>
    <form class="product-form" method="POST" action="/auth/signup-user">
      <div class="form-control">
        <input
          class="w-100 <%= validation_errors.find(error_obj => error_obj.param === 'name') ? 'invalid' : '' %>"
          type="text"
          name="name"
          placeholder="enter your name"
          required
          autofocus
          autocapitalize
        />
      </div>
      <div class="form-control">
        <input
          class="w-100 <%= validation_errors.find(error_obj => error_obj.param === 'email') ? 'invalid' : '' %>"
          type="text"
          name="email"
          placeholder="enter your email"
          required
        />
      </div>
      <div class="form-control">
        <input
          class="w-100 <%= validation_errors.find(error_obj => error_obj.param === 'password') ? 'invalid' : '' %>"
          type="password"
          name="password"
          placeholder="enter your password"
          required
        />
      </div>
      <div class="form-control">
        <input
          class="w-100 <%= validation_errors.find(error_obj => error_obj.param === 'confirm-password') ? 'invalid' : '' %>"
          type="password"
          name="confirm-password"
          placeholder="confirm your password"
          required
        />
      </div>
      <div class="form-control">
        <select class="w-100" name="role" required>
          <option value="user" selected>User</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <%- include("../includes/csrf-token-input.ejs") %>
      <div class="form-control">
        <button class="btn w-100">Sign-up</button>
      </div>
    </form>
  </div>
</div>
<%- include("../includes/logout-btn.ejs") %> <%- include("../includes/end.ejs")
%>
