<%- include("../includes/head.ejs") %> <%- include("../includes/navigation.ejs")
%>
<main class="flex-row-centered">
  <div class="card login-form-card">
    <h1 class="text-center">Edit Product Form</h1>
    <% if(error){ %>
    <p class="error"><%= error %></p>
    <% }else if(success){ %>
    <p class="success"><%= success %></p>
    <% } %> <% if(validation_errors.length){ %> <%
    validation_errors.forEach(function(validation_error){ %>
    <p class="error"><%= validation_error?.msg %></p>
    <% }) %> <% } %>
    <form
      class="product-form"
      method="POST"
      action="/admin/edit-product/<%= product?._id %>"
    >
      <div class="form-control">
        <label for="title"> Id* : </label>
        <input
          class="w-100"
          type="text"
          name="id"
          required
          id="id"
          placeholder="enter product id"
          value="<%= product._id || old_input._id %>"
          readonly
          style="opacity: 0.7"
        />
      </div>
      <div class="form-control">
        <label for="title"> Title* : </label>
        <input
          class="w-100 <%= validation_errors.find(error_obj => error_obj.param === 'title') ? 'invalid' : '' %>"
          type="text"
          name="title"
          required
          id="title"
          placeholder="enter title"
          value="<%= product.title || old_input.title %>"
        />
      </div>
      <div class="form-control">
        <label for="title"> Image Url* : </label>
        <input
          class="w-100 <%= validation_errors.find(error_obj => error_obj.param === 'ImageURL') ? 'invalid' : '' %>"
          type="text"
          name="imageURL"
          required
          id="imageUrl"
          placeholder="enter image url"
          value="<%= product.imageURL || old_input.imageURL %>"
        />
      </div>
      <div class="form-control">
        <label for="title"> Price* : </label>
        <input
          class="w-100 <%= validation_errors.find(error_obj => error_obj.param === 'price') ? 'invalid' : '' %>"
          type="number"
          name="price"
          required
          id="price"
          placeholder="enter price"
          min="100"
          max="1000000"
          step="25"
          value="<%= product.price || old_input.price %>"
        />
      </div>
      <div class="form-control">
        <label for="title"> Description* : </label>
        <textarea
          class="w-100 <%= validation_errors.find(error_obj => error_obj.param === 'description') ? 'invalid' : '' %>"
          type="text"
          name="description"
          required
          id="description"
          placeholder="enter description"
          rows="6"
        >
<%= product.description || old_input.description  %></textarea
        >
      </div>
      <%- include("../includes/csrf-token-input.ejs") %>
      <div class="form-control"><button>Edit Product</button></div>
    </form>
  </div>
</main>
<%- include("../includes/logout-btn.ejs") %> <%- include("../includes/end.ejs")
%>
