<header class="main-header">
  <div class="main-header-title">My Shop</div>
  <nav class="main-header__nav">
    <% if(noNavigation) {%>
    <div></div>
    <% } else { %>
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a>
      </li>
      <li class="main-header__item">
        <a href="/shop/1" class="<%= path.includes('/shop/') ? 'active' : '' %>"
          >Shop</a
        >
      </li>

      <% if(isAuthenticated && role === "user"){ %>
      <li class="main-header__item">
        <a
          href="/shop/cart"
          class="<%= path === '/shop/cart' ? 'active' : '' %>"
          >Cart</a
        >
      </li>
      <li class="main-header__item">
        <a
          href="/shop/orders"
          class="<%= path === '/shop/orders' ? 'active' : '' %>"
          >Orders</a
        >
      </li>
      <% }else if(isAuthenticated && role === "admin"){ %>
      <li class="main-header__item">
        <a
          href="/admin/add-product"
          class="<%= path === '/admin/add-product' ? 'active' : '' %>"
          >Add Product</a
        >
      </li>
      <li class="main-header__item">
        <a
          href="/admin/products/1"
          class="<%= path.includes('/admin/products/') ? 'active' : '' %>"
          >Admin Products</a
        >
      </li>
      <% } else{ %>
      <li class="main-header__item">
        <a
          href="/auth/login"
          class="<%= (path === '/auth/login' || path === '/auth/signup') ? 'active' : '' %>"
          >Log-in/Sign-up</a
        >
      </li>
      <% } %>
    </ul>
    <% } %>
  </nav>
</header>
