<%- include("../includes/head.ejs") %> <%- include("../includes/navigation.ejs")
%>
<main>
  <% if (cartData.length > 0) { %>
  <div class="flex-box">
    <% cartData.forEach(function(singleProduct){ %>
    <article class="card cart-product-item">
      <div class="card-product-img-title">
        <img
          class="cart_product_image"
          src="/<%= singleProduct?.imageURL %>"
          alt="image"
        />

        <h1 class="product__title"><%= singleProduct.title %></h1>
      </div>

      <div class="flex-row-centered gap-half-rem">
        <!-- <form method="POST" action="/shop/cart/<%= singleProduct.id %>/delete">
          <input
            type="hidden"
            name="product_id"
            value="<%= singleProduct.id %>"
          />
          <button type="submit" class="btn rounded">-</button>
        </form> -->
        <p><%= singleProduct?.quantity %></p>
        <!-- <form method="POST" action="/shop/cart/<%= singleProduct.id %>">
          <input
            type="hidden"
            name="product_id"
            value="<%= singleProduct.id %>"
          />
          <button type="submit" class="btn rounded">+</button>
        </form> -->
      </div>

      <div class="card__actions">
        <a href="#" class="btn"
          >₹ <%= singleProduct?.price %> x <%= singleProduct?.quantity %></a
        >
      </div>
      <div class="card__actions">
        <form
          method="POST"
          action="/shop/cart/<%= singleProduct?._id %>/delete"
        >
          <input
            type="hidden"
            name="product_id"
            value="<%= singleProduct?._id %>"
          />
          <button class="btn red">Delete</button>
        </form>
      </div>
    </article>
    <% }); %>
  </div>

  <a href="/shop/checkout" class="floating_pay_button">Checkout</a>

  <%- include("../includes/logout-btn.ejs") %> <% } else { %>
  <p class="empty_cart_msg">Cart seems empty.</p>
  <% } %>
</main>
<%- include("../includes/end.ejs") %>

<!--
    The HTML5 body structure is:
    <header></header>
    <main></main>
    <footer></footer>
-->
