<%- include("../includes/head.ejs") %> <%- include("../includes/navigation.ejs")
%>
<main>
  <div class="title_with_bottom_border">Order #<%= orderId %> Overview</div>
  <div class="flex-box gap-half-rem">
    <% if(orderProducts) { %> <% orderProducts.forEach(function (product){ %>
    <div class="card cart-product-item flex-box">
      <h2><%= product.title %></h2>
      <p><%= product.orderProduct.quantity %></p>
      <button class="btn">
        ₹ <%= product.price*product.orderProduct.quantity %>
      </button>
    </div>
    <% }) %>
  </div>
  <% }else{ %>
  <p class="empty_cart_msg">No Ordered Products !</p>
  <% } %>
</main>
<%- include("../includes/end.ejs") %>
