<%- include("../includes/head.ejs") %> <%- include("../includes/navigation.ejs")
%>
<main>
  <% if (ordersData.length > 0) { %>
  <div class="flex-box">
    <% ordersData.forEach(function(order){ %>
    <article class="card cart-product-item">
      <b> Order #<%= order?._id %> </b>
      <a href="/shop/order-overview/<%= order?._id %>" class="btn">Overview</a>
    </article>
    <% }); %>
  </div>
  <%- include("../includes/logout-btn.ejs") %> <% } else { %>
  <p class="empty_cart_msg">No Orders !</p>
  <% } %>
</main>
<%- include("../includes/end.ejs") %>

<!--
    The HTML5 body structure is:
    <header></header>
    <main></main>
    <footer></footer>
-->
