<%- include("../includes/head.ejs") %> <%- include("../includes/navigation.ejs")
%>
<main>
  <% if (products.length > 0) { %>
  <div class="flex-box">
    <% products.forEach(function(singleProduct){ %>
    <article class="card product-item">
      <header>
        <h1 class="product__title"><%= singleProduct.title %></h1>
        <div class="card__image">
          <img
            src="<%= singleProduct.imageURL %>"
            alt="image"
            width="200px"
            height="200px"
          />
        </div>
        <div class="card__content">
          <span class="product__price">₹<%= singleProduct.price %></span>
          <p class="product__description"><%= singleProduct.description %></p>
        </div>
        <div class="card__actions">
          <%-
          include("../includes/add-to-cart.ejs",{singleProduct:singleProduct})
          %>
          <a href="/shop/product-details/<%= singleProduct.id %>" class="btn"
            >See Details</a
          >
        </div>
        <p class="product-id">#<%= singleProduct.id %></p>
      </header>
    </article>
    <% }); %>
  </div>

  <% } else { %>
  <p>No products</p>
  <% } %>
</main>
<%- include("../includes/end.ejs") %>

<!--
    The HTML5 body structure is:
    <header></header>
    <main></main>
    <footer></footer>
-->
